// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"); */
@import 'libs/bootstrap-reboot.min.css';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
html{
   scroll-behavior: smooth;
}

* {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 25px auto 0 auto
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/about';
@import 'blocks/menu';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contact';
@import 'blocks/policy';
@import 'blocks/media';