@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 39px;
        height: 36px;
        z-index: -1;
        top: -25%;
        left: 0%;
        background: $main-color;
        border-radius: 100%;
        box-shadow: 0px 0px 10px 5px rgba(0, 30, 250, 0.3);
    }
}