.resume {
    padding-top: 120px;
    background-color: #050505;

    &__title {
        position: relative;
        text-align: center;
        z-index: 2;
        @include before_circle;

        &:before {
            width: 36px;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            background: $main-color;
        }
    }

    &__subtitle {
        text-align: center;
    }

    &__wrapper {
        padding: 60px 65px 0 60px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }

    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            margin-bottom: 0;

            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        ul {
            list-style-type: none;

            li {
                position: relative;

                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -9.5px;
                    left: 7px;
                    background-color: #fff;
                }
            }
        }
    }

    &__item {
        position: relative;

        &:before {
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            top: 65px;
            left: 7px;
            background-color: #fff;
        }

        &-head {
            position: relative;
            padding: 45px 0 0 100px;

            h4 {
                margin-bottom: 0;
            }
        }

        &-body {
            padding-left: 43px;
            margin-top: 12px;
        }

        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            z-index: 2;
            @include before_circle;

            svg {
                position: absolute;
                left: 10px;
                top: 5px;
            }
        }

        &-location {
            color: #fff;
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }

        &-body {
            color: #fff;
            font-size: 12px;
        }
    }
}