.title {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;

    &_fz12 {
        color: #fff;
        /* margin-top: 6px; */
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

    &_fz14 {
        color: #fff;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
    }

    &_fz16 {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }

    &_fz20 {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    &_fz36 {
        color: #fff;
        font-size: 36px;
        line-height: 60px;
        font-weight: bold;
    }

    &_fz48 {
        color: #fff;
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
    }

    &__section-title {
        position: relative;
        text-align: center;
        z-index: 2;
        @include before_circle;

        &:before {
            width: 36px;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            background: $main-color;
        }
    }

    &__section-subtitle {
        text-align: center;
    }
}